﻿@model Gemini.ViewModels.Categories.CategoryListParamsViewModel

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.FormAction)
@Html.HiddenFor(m => m.TableUrl)
@Html.HiddenFor(m => m.ModalDataUrl)
@Html.HiddenFor(m => m.UpdateAction)
@Html.HiddenFor(m => m.DeleteAction)
<div class="row" id="category-view-container"></div>

@section Scripts
{
    <script src="@Url.Content("~/app/cat.bundle.js")"></script>
}
