﻿@model Gemini.Libraries.Components.ThemeEngine.PageEngine.PostViewModels.BasePageViewModel

<div class="row">
    <form action="@Url.Action("ProcessNew")" method="post" class="form-horizontal col-md-12">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.FormPartial)
        @Html.HiddenFor(m => m.ModelType)
        <div class="row">
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Add New Page</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @Html.TextBoxFor(m => m.Title, new { @class = "col-md-12 form-control", placeholder = "Title" })
                        @Html.TextAreaFor(m => m.Content, new { @class = "col-md-12", id = "content-editor" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">Errors</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                }
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Publish</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Status, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(m => m.Status, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Visibility, new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(m => m.Visibility, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary pull-right" type="submit">Publish</button>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Meta.Any())
        {
            @Html.Partial(@Model.FormPartial)
        }
    </form>
</div>

@section Scripts
{
    <script src=@Url.Content("~/Scripts/ckeditor/ckeditor.js")></script>
    <script>
        CKEDITOR.replace("content-editor");
    </script>
}