﻿@model Gemini.Libraries.ViewModels.Pages.PageListViewModel
@using PagedList.Mvc   

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Pages</h3>
                <a class="btn btn-primary pull-right" href="@Url.Action("Create")">Add New</a>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th></th>
                        <th>@Html.DisplayNameFor(m => m.Pages.First().Title)</th>
                        <th>@Html.DisplayNameFor(m => m.Pages.First().DateCreated)</th>
                        <th>@Html.DisplayNameFor(m => m.Pages.First().DateUpdated)</th>
                    </tr>
                    @if (Model.Pages.Any())
                    {
                        foreach (var page in Model.Pages)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    <a href="@Url.Action("View", new { id = page.Id })">@page.Title</a>
                                </td>
                                <td>@page.DateCreated</td>
                                <td>@page.DateUpdated</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
                @Html.PagedListPager(Model.Pages, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
            </div>
        </div>
    </div>
</div>