﻿@model Gemini.ViewModels.Pages.ViewRevisionViewModel
<div class="row">
    <form action="@Url.Action("RestoreRevision")" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.RevisionId)
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Post ID: @Model.Id</h3>
                    <a class="btn btn-primary pull-right" href="@Url.Action("View", new {id = Model.Id})">Back</a>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Content, new {@class = "col-md-12 form-control"})
                    </div>
                </div>
                <div class="box-footer"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Revision ID: @Model.RevisionId</h3>
                    <button class="btn btn-primary pull-right" type="submit">Restore</button>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.RevisionContent, new {@class = "col-md-12 form-control"})
                    </div>
                </div>
                <div class="box-footer"></div>
            </div>
        </div>
    </form>
</div>