﻿@using Gemini.Libraries.Components.Toast
@model Gemini.Libraries.Components.ThemeEngine.PageEngine.PostViewModels.BasePageViewModel

@Html.Notify(Model.Notify)

<div class="row">
    <form action="@Url.Action("Update")" method="post" class="form-horizontal col-md-12">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.FormPartial)
        @Html.HiddenFor(m => m.ModelType)
        <div class="row">
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Edit Page</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @Html.TextBoxFor(m => m.Title, new { @class = "col-md-12 form-control", placeholder = "Title" })
                        @Html.TextBoxFor(m => m.Slug, new { @class = "col-md-12 form-control", @readonly = true })
                        @Html.TextAreaFor(m => m.Content, new { @class = "col-md-12", id = "content-editor" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">Errors</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                }
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Publish</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Status, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(m => m.Status, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Visibility, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(m => m.Visibility, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DateCreated, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <span>@Model.DateCreated</span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DateUpdated, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <span>@Model.DateUpdated</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary pull-right" type="submit">Publish</button>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Meta.Any())
        {
            @Html.Partial(@Model.FormPartial)
        }
    </form>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Revisions</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    @if (Model.Revisions.Any())
                    {
                        <ul>
                            @foreach (var rev in Model.Revisions)
                            {
                                <li>
                                    <a href="@Url.Action("Revision", new { postId = rev.ParentId, revisionId = rev.Id })">By @rev.User.UserName at @rev.DateCreated</a>
                                </li>
                            }
                        </ul>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div id="notif-area"></div>
@section Scripts
{
    <script src=@Url.Content("~/Scripts/ckeditor/ckeditor.js")></script>
    <script>
        CKEDITOR.replace("content-editor");
    </script>
    <script src=@Url.Content("~/app/notify.bundle.js")></script>
}