﻿@model Gemini.ViewModels.Settings.GeneralSettingsFormData

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.FormAction)
@Html.HiddenFor(x => x.SiteTitle)
@Html.HiddenFor(x => x.SiteTagline)

<div id="form-container" class="row"></div>

@section Scripts
{
    <script src="@Url.Content("~/app/generalForm.bundle.js")"></script>
}
