﻿@{
    bool auth = Request.IsAuthenticated;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Gemini</title>
    @Styles.Render("~/bundles/css")
</head>
<body class="sidebar-mini skin-blue">
    <div class="wrapper">
        @Html.Partial("AdminHeader")
        @Html.Partial("AdminSidebar")
        <div class="content-wrapper">
            @*        <section class="content-header">*@
            @*            <h1>*@
            @*                Dashboard<small>Control panel</small>*@
            @*            </h1>*@
            @*            <ol class="breadcrumb"></ol>*@
            @*        </section>*@
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right">
                @*            <b>Revision</b> 160*@
            </div>
            <p>&copy; @DateTime.Now.Year - Gemini</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/app/gemini.bundle.js")
    @RenderSection("Scripts", false)
</body>
</html>
