﻿@{
    bool auth = Request.IsAuthenticated;
}
<aside class="main-sidebar">
    <section class="sidebar">
        @if (@auth)
        {
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li id="index">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-tachometer"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li id="pages" class="treeview">
                    <a href="#">
                        <i class="fa fa-file"></i>
                        <span>Pages</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Pages")">
                                <span>All Pages</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Pages")">
                                <span>Add New</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="posts" class="treeview">
                    <a href="#">
                        <i class="fa fa-thumb-tack"></i>
                        <span>Posts</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Posts")">
                                <span>All Posts</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Posts")">
                                <span>Add New</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Categories")">
                                <span>Categories</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Tags")">
                                <i></i>
                                <span>Tags</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="appearance" class="treeview">
                    <a href="@Url.Action("Index", "Appearance")">
                        <i class="fa fa-paint-brush"></i>
                        <span>Appearance</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Appearance")">
                                <span>Themes</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="settings" class="treeview">
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span>Settings</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("General", "Settings")">
                                <span>General</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Manage Logo</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>About Gemini</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        else
        {
            <ul class="sidebar-menu">
                <li class="treeview">
                    <a href="@Url.Action("Login", "Account")">
                        <i class="fa fa-circle-o"></i>
                        <span>Login</span>
                    </a>
                </li>
            </ul>
        }
    </section>
    <!-- /.sidebar -->
</aside>