﻿@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage<Gemini.Themes.Default.ViewModel.Pages.PageViewModel>

<div class="row">
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Metas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @for (var x = 0; x < Model.Meta.Count(); x++)
                {
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Meta[x].Meta)
                        @{
                            string metaLabel = Model.Meta[x].Meta;
                        }
                        @Html.LabelFor(m => m.Meta[x].Value, metaLabel, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Meta[x].Value, new { @class = "form-control" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>