﻿@using Gemini.Libraries.Components.ThemeEngine.Helpers
@inherits System.Web.Mvc.WebViewPage<Gemini.Themes.Default.ViewModel.Pages.PageViewModel>

<div class="row">
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Metas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    @Html.MetaLabel("testAttr", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.MetaHidden("testAttr")
                        @Html.MetaInput("testAttr", new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.MetaLabel("testAttr2", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.MetaHidden("testAttr2")
                        @Html.MetaInput("testAttr2", new {@class = "form-control"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>