﻿@model Gemini.Libraries.ViewModels.Themes.ThemeListViewModel
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Themes</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    @foreach (var theme in Model.Themes)
                    {
                        <div class="col-md-4">
                            <div class="row">
                                <span class="col-md-12">Theme: @theme.Value.ThemeName</span>
                                <span class="col-md-12">isActive: @theme.Value.Active</span>
                                <img class="col-md-12 img-responsive" src="@theme.Value.ThemeImg" />
                                @if (!theme.Value.Active)
                                {
                                    <a class="btn btn-primary" href="@Url.Action("ActivateTheme", new {themeName = theme.Value.ThemeName})">Activate</a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>