﻿@model Gemini.ViewModels.Tags.TagListViewModel

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.DataUrl)
@Html.HiddenFor(x => x.CreateUrl)
@Html.HiddenFor(x => x.UpdateUrl)
@Html.HiddenFor(x => x.DeleteUrl)

<div class="row" id="tag-view-container"></div>

@section Scripts
{
    <script src="@Url.Content("~/app/tagList.bundle.js")"></script>
}
